/*---General---*/
*{
    font-size: 1em;
    font-family: trajan-pro;
    margin: 0 auto;
    color: black;
}
/*---Flex Box--*/

/*--Links(Saved if needed)--*/
/*
.link:link{
    color: #d1d93b;
}
.link:visited{
    color: #5c0c51;
}
.link:hover{
    color: #8300FF;
}
*/
/*---Style---*/

/*---Background---*/
body
{
    background-image: url(Assets/Background.png);
    background-repeat: repeat;
    background-size: 8vh, 8vh;           
}
/*---Logo---*/
.logo
{
    width: 100%; /* Set a specific width */
    background-color: #484848 ; /* Dark-grey background */
}

.logo a
{
    display: block; /* Keeps it centered */
    text-align: center; /* Center-align text */
    /* Add transition for hover effects */
    transition: box-shadow 0.3s ease-in-out;
}

/*---Nav---*/
nav
{
    list-style-type: none;
}

li
{
    float: left;
    display: block;
    text-decoration: none;
    font-size: 1.5em;
    transition: box-shadow 0.3s ease-in-out
}
li a
{
    display: block;
    width: 25vw;
    text-align: center;
    background-color: #6B6859;
}
.chosen
{
    background-image: azure;
}
/*---Body---*/
.main{
    width: 80%;
    height: 100%;
    background-color: #6B6859;
}

/*--- Hover action ---*/
.logo a:hover
{   
    box-shadow: 0 0 5vw rgba(255,255,255,0.5) inset; /* Add a hover color */
    border-color: #FFFFFF;
}
li:hover
{
    box-shadow: 0 0 100% rgba(255,255,255,1) inset
}
/*---Mobile---*/
    /*(landscape)*/
    @media only screen and (min-width : 321px)
    {
        /* Styles */
    }
    /*portrait*/
    @media only screen and (max-width : 320px)
    {
        /*--- Center content ---*/
        .flex-container
        {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        header
        {
            background-color: #3F51B5;
            color: #fff;
        } 
        section.content
        {
            flex: 1;
        } 
        footer
        {
            background-color: #FFC107;
            color: #333;
        }
    }
/*---Tablet---*/
    /*--- landscape ---*/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
    {
        
    }
    /*--- portrait ---*/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)
    {
        
    }
/*--- Desktop ---*/