/*--- General ---*/
*{
    font-size: 1em;
    font-family: trajan-pro;
    margin: 0 auto;
    color: black;
}
/*--- Flex Box --*/

/*--- Links(Saved if needed) ---*/
/*
.link:link{
    color: #d1d93b;
}
.link:visited{
    color: #5c0c51;
}
.link:hover{
    color: #8300FF;
}
*/
/*--- Style ---*/

/*--- Background ---*/
body
{
    background-image: url(Assets/Background.png);
    background-repeat: repeat;
    background-size: 8vh, 8vh;           
}
/*--- Logo ---*/
.logo
{
    width: 100vw; /* Set a specific width */
    height: 8vh; /* Set a specific height */
    background-color: #484848; /* Dark-grey background */
}

.logo a
{
    display: block; /* Keeps it centered */
    text-align: center; /* Center-align text */
    transition: box-shadow 0.3s ease-in-out; /* Add transition for hover effects */
}

/*--- Nav ---*/
.nav
{
    list-style-type: none;
    display: flex;
    text-decoration: none;
    font-size: 1.5em;
    transition: box-shadow 0.3s ease-in-out;
}
nav a
{
    display: block;
    width: 25vw;
    height: 7vh;
    float: left;
    text-align: center;
    background-color: #6B6859;
}
.chosen
{
    background-image: azure;
}
/*--- Body ---*/
.content
{
    width: 80vw;
    margin: 0 auto;
    height: 20vh;
    background-color: aqua;
    display: block;
}

main div
{
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
}
/*--- Footer ---*/
footer
{
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    background-color: #6B6859;
    text-align: center;
 }
/*--- Hover action ---*/
.logo a:hover
{   
    box-shadow: 0 0 5vw rgba(255,255,255,0.5) inset; /* Add a hover color */
    border-color: #FFFFFF;
}
li:hover
{
    box-shadow: 0 0 100% rgba(255,255,255,1) inset;
}

/*.dflex
{
    display: flex;
    justify-content: space-evenly;

}
look into it
*/
/*--- Mobile ---*/
    /*(landscape)*/
    @media only screen and (min-width : 321px)
    {
        /* Styles */
    }
    /*portrait*/
    @media only screen and (max-width : 320px)
    {
        /*--- Center content ---*/
        .content
        {
            width: 80vw;
            height: 85vh;
            background-color: #6B6859;
        }
    }
/*--- Tablet ---*/
    /*--- landscape ---*/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
    {
        
    }
    /*--- portrait ---*/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)
    {
        
    }
/*--- Desktop ---*/